---
import { Icon } from "@astrojs/starlight/components";
import Search from "@astrojs/starlight/components/Search.astro";
import logo from "../assets/boilr_logo.svg";
import RhinolabsLogo from "../assets/rhinolabs_logo.svg";
import { FeatureSection } from "../components/code-animation/FeatureSection.tsx";
import BgShine from "../components/ui/BgShine.astro";
import MetalicHeading from "../components/ui/MetalicHeading.astro";
import RootLayout from "../layout/RootLayout.astro";
---

<RootLayout>
  <BgShine class="h-[80vh]" />
  <header class="py-2 md:py-6 px-4 lg:px-20 relative">
    <div class="h-14 container mx-auto flex items-center justify-between">
      <a href="/"> <img src={logo.src} class="lg:h-10 h-8" /></a>
      <div class="flex items-center gap-4 lg:gap-8">
        <div class="w-[250px] hidden lg:block">
          <Search />
        </div>
        <a
          href="/guides/get-started"
          class="text-muted-foreground hover:text-secondary-foreground text-sm lg:text-base"
          >Documentation</a
        >
        <a
          href="https://github.com/rhinolabs/boilr"
          class="text-muted-foreground hover:text-secondary-foreground"
        >
          <Icon name="github" size="1.5rem" />
        </a>
      </div>
    </div>
  </header>
  <main>
    <section id="hero" class="container mx-auto relative">
      <div
        class="space-y-6 lg:py-0 py-20 lg:h-[85vh] flex flex-col justify-center px-6 lg:px-20"
      >
        <MetalicHeading
          tag="h1"
          class="text-4xl lg:text-7xl font-extrabold text-balance max-w-3xl"
        >
          Build production-ready APIs in minutes, not days.
        </MetalicHeading>
        <p
          class="text-pretty max-w-3xl text-sm lg:text-lg text-muted-foreground"
        >
          A convention-based web framework built on top of Fastify, designed to
          streamline API development through standardized patterns and built-in
          features.
        </p>
        <div class="flex flex-col lg:flex-row gap-4 mt-6 lg:mt-0">
          <a
            href="/guides/get-started"
            class="block bg-primary text-primary-foreground px-4 py-2 rounded-md text-center"
            >Get Started</a
          >
          <button
            onclick="navigator.clipboard.writeText('pnpm install -g @rhinolabs/boilr-cli')"
            class="bg-secondary text-secondary-foreground px-4 py-2 rounded-md cursor-pointer"
            >pnpm install -g @rhinolabs/boilr-cli</button
          >
        </div>
      </div>
      <button
        id="scroll"
        class="hidden lg:flex absolute bottom-0 left-1/2 text-muted-foreground -translate-x-1/2 pl-4 pr-2.5 py-2 rounded-full border border-border hover:bg-zinc-800 bg-background shadow-md hover:text-accent-foreground items-center gap-1 cursor-pointer"
        >See more
        <Icon name="down-caret" size="1.5rem" />
      </button>
    </section>
    <!-- show only on desktop -->
    <FeatureSection client:media="(min-width: 768px)" />
    <footer class="relative border-t border-border overflow-hidden">
      <!-- <BgShine class="h-[200%] -top-20 -bottom-20 -z-10" /> -->
      <div
        class="container mx-auto py-8 h-full items-start z-20 flex justify-between px-6 lg:px-0"
      >
        <div class="flex flex-col justify-start gap-4 h-full">
          <a href="https://rhinolabs.agency/">
            <img src={RhinolabsLogo.src} class="h-8 w-fit" />
          </a>
          <span class="text-muted-foreground text-sm"
            >© 2025 Rhinolabs Agency. All rights reserved.</span
          >
        </div>
        <div class="flex items-center gap-6">
          <a href="https://github.com/rhinolabs/boilr">
            <Icon name="github" size="1.5rem" />
          </a>
          <a href="https://www.linkedin.com/company/rhinolabsagency/">
            <Icon name="linkedin" size="1.5rem" />
          </a>
        </div>
      </div>
    </footer>
  </main></RootLayout
>

<script>
  const scrollButton = document.getElementById("scroll");
  scrollButton?.addEventListener("click", () => {
    const featuresSection = document.getElementById("features");
    featuresSection?.scrollIntoView({ behavior: "smooth" });
  });
</script>
