---
import RootLayout from "../layout/RootLayout.astro";
import logo from "../assets/boilr_logo.svg";
import Search from "@astrojs/starlight/components/Search.astro";
import { Icon } from "@astrojs/starlight/components";
---

<RootLayout>
  <header class="py-2 md:py-6 px-4 w-screen">
    <div class="h-14 container mx-auto flex items-center justify-between">
      <a href="/"> <img src={logo.src} class="h-10" /></a>
      <div class="flex items-center gap-8">
        <div class="w-[250px]">
          <Search />
        </div>
        <a
          href="/guides/get-started"
          class="text-muted-foreground hover:text-primary-foreground"
          >Documentation</a
        >
        <a
          href="https://github.com/rhinolabs/boilr"
          class="text-muted-foreground hover:text-primary-foreground"
        >
          <Icon name="github" size="1.5rem" />
        </a>
      </div>
    </div>
  </header>
  <main>
    <section></section>
  </main>
  <footer></footer>
</RootLayout>
