---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`top-0 left-0 right-0 absolute blur-xl   ${className}`}>
  <div
    class="absolute top-0 left-0 w-full h-full bg-linear-65 from-45% lg:from-30% opacity-7 via-50% lg:via-35% to-55% lg:to-40% from-transparent via-white to-transparent"
    style="background-size: 200% 200%;"
  >
  </div>
</div>
